.header-child46 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-firebrick-100);
  width: 1512px;
  height: 50px;
}
.header-child47,
.header-child48 {
  position: absolute;
  top: 6px;
  left: 293px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
  width: 105px;
  height: 40px;
}
.header-child48 {
  left: 409px;
  width: 140px;
}
.location-icon18 {
  position: absolute;
  top: 10px;
  left: 414px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.header-child49 {
  position: absolute;
  top: 6px;
  left: 562px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 333px;
  height: 40px;
}
.vector-icon14 {
  position: absolute;
  height: 34.4%;
  width: 1.16%;
  top: 35.4%;
  right: 60.95%;
  bottom: 30.2%;
  left: 37.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bn-cn-tm9 {
  position: absolute;
  top: 18px;
  left: 603px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  display: inline-block;
  width: 135px;
  height: 14px;
}
.local-phone-icon9 {
  position: absolute;
  top: 8px;
  left: 907px;
  width: 35px;
  height: 34px;
  overflow: hidden;
}
.gi-mua-hng9 {
  margin: 0;
}
.danh-mc9,
.gi-mua-hng-container9,
.nng9,
.xem-gi-ti9 {
  position: absolute;
  top: 9px;
  left: 941px;
  font-weight: 500;
  display: inline-block;
  width: 138px;
  height: 31px;
}
.danh-mc9,
.nng9,
.xem-gi-ti9 {
  top: 18px;
  left: 293px;
  text-align: center;
}
.nng9,
.xem-gi-ti9 {
  top: 27px;
  left: 410px;
  height: 18px;
}
.xem-gi-ti9 {
  top: 11px;
  font-size: var(--font-size-3xs);
  height: 31px;
}
.location-icon19 {
  position: absolute;
  top: 7px;
  left: 1037px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.ca-hng-gn-container9,
.tra-cu-n-container9 {
  position: absolute;
  top: 8px;
  left: 1071px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.tra-cu-n-container9 {
  top: 9px;
  left: 1189px;
}
.in-transit-icon9 {
  position: absolute;
  top: 6px;
  left: 1148px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng10 {
  position: absolute;
  top: 3px;
  left: 34px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.shopping-bag-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng-parent3 {
  position: absolute;
  top: 6px;
  left: 1259px;
  width: 97px;
  height: 39px;
  cursor: pointer;
}
.group-child79 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  width: 59px;
  height: 40px;
}
.customer-icon9 {
  position: absolute;
  top: 1px;
  left: 15px;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.ng-nhp11 {
  position: absolute;
  top: 28px;
  left: 4px;
  font-weight: 900;
  display: inline-block;
  width: 50px;
  height: 12px;
}
.rectangle-parent28 {
  position: absolute;
  top: 5px;
  left: 1340px;
  width: 59px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-6xs);
}
.header-child50,
.menu-icon9 {
  position: absolute;
  top: 15.5px;
  left: 528px;
  width: 11px;
  height: 5px;
}
.menu-icon9 {
  top: 9px;
  left: 297px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.group-child80,
.header9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 50px;
}
.group-child80 {
  top: 6px;
  left: 111px;
  width: 124.2px;
  height: 40px;
  cursor: pointer;
}
.frame-child249,
.header-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
}
.header-parent7 {
  height: 50px;
  color: var(--color-white);
}
.frame-child249 {
  background-color: var(--color-gainsboro-100);
  height: 20px;
}
.in-thoi6,
.tecno,
.tecno-spark-20c,
.trang-ch4 {
  position: absolute;
  top: 2px;
  left: 129px;
  font-weight: 500;
}
.in-thoi6,
.tecno,
.tecno-spark-20c {
  left: 221px;
}
.tecno,
.tecno-spark-20c {
  left: 313px;
}
.tecno-spark-20c {
  left: 380px;
}
.frame-child250,
.frame-child251,
.frame-child252,
.vector-icon15 {
  position: absolute;
  top: 5px;
  left: 204px;
  width: 5px;
  height: 10px;
}
.frame-child251,
.frame-child252,
.vector-icon15 {
  left: 296px;
}
.frame-child252,
.vector-icon15 {
  left: 363px;
}
.vector-icon15 {
  height: 49%;
  width: 0.66%;
  top: 20.5%;
  right: 91.73%;
  bottom: 30.5%;
  left: 7.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent29 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1512px;
  height: 20px;
}
.dch-v-v5,
.kt-ni-vi5,
.thng-tin-v5,
.tng-i-h-container5 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  width: 294px;
  height: 35px;
}
.tng-i-h-container5 {
  top: 0;
  left: 0;
  text-align: center;
}
.dch-v-v5,
.kt-ni-vi5,
.thng-tin-v5 {
  top: 2px;
  left: 341px;
}
.dch-v-v5,
.kt-ni-vi5 {
  left: 671px;
  width: 317px;
}
.kt-ni-vi5 {
  left: 1001px;
}
.phng-thc-thanh5 {
  margin: 0;
  font-weight: 500;
}
.blank-line41 {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.b13,
.phng-thc-thanh-container5 {
  position: absolute;
  top: 110px;
  left: 11px;
  display: inline-block;
  width: 294px;
  height: 35px;
  font-size: var(--font-size-6xl);
}
.b13 {
  top: 46px;
  left: 32px;
  font-size: var(--font-size-21xl);
  text-align: center;
  width: 230px;
  height: 53px;
}
.image-3-icon5,
.image-4-icon5,
.image-5-icon5,
.image-6-icon5 {
  position: absolute;
  top: 156px;
  left: 18px;
  border-radius: var(--br-10xs);
  width: 62.9px;
  height: 40px;
  object-fit: cover;
}
.image-4-icon5,
.image-5-icon5,
.image-6-icon5 {
  left: 88px;
  width: 66.3px;
}
.image-5-icon5,
.image-6-icon5 {
  left: 161px;
  width: 62.7px;
}
.image-6-icon5 {
  left: 231px;
  width: 66.3px;
}
.doanh-nghip-u-container5,
.mua-hng-v-container5 {
  position: absolute;
  top: 48px;
  left: 353px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 282px;
  height: 206px;
}
.doanh-nghip-u-container5 {
  left: 685px;
}
.image-10-icon5,
.image-11-icon5,
.image-7-icon5,
.image-8-icon5,
.image-9-icon5 {
  position: absolute;
  top: 48px;
  left: 1003px;
  width: 55px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon5,
.image-11-icon5,
.image-8-icon5,
.image-9-icon5 {
  left: 1063px;
}
.image-10-icon5,
.image-11-icon5,
.image-9-icon5 {
  left: 1123px;
}
.image-10-icon5,
.image-11-icon5 {
  left: 1183px;
}
.image-11-icon5 {
  left: 1243px;
}
.frame-child253 {
  position: absolute;
  top: 112px;
  left: 1003px;
  max-height: 100%;
  width: 296px;
}
.frame-child254 {
  position: absolute;
  top: 146px;
  left: 1003px;
  width: 300px;
  height: 97px;
}
.cng-ty-devicer-container5 {
  position: absolute;
  top: 346px;
  left: calc(50% - 583px);
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-gray-300);
  text-align: center;
  width: 1188px;
  height: 27px;
}
.image-12-icon5 {
  position: absolute;
  top: 373px;
  left: calc(50% - 56px);
  width: 133.3px;
  height: 50px;
  object-fit: cover;
}
.tng-i-h-tr-min-ph-parent3 {
  position: absolute;
  top: 1548px;
  left: 97px;
  width: 1318px;
  height: 423px;
  font-size: var(--font-size-xl);
}
.chn-mu4 {
  position: absolute;
  top: 277px;
  left: 659px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  text-align: left;
}
.b14,
.b15,
.tecno-spark-20c1 {
  position: absolute;
  display: inline-block;
  text-align: left;
}
.tecno-spark-20c1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  width: 648px;
  height: 47px;
}
.b14,
.b15 {
  line-height: 121.1%;
  white-space: pre-wrap;
  width: 237px;
}
.b14 {
  top: 64px;
  left: 660px;
  font-size: var(--font-size-21xl);
  color: var(--color-red-100);
  height: 47px;
}
.b15 {
  top: 74px;
  left: 905px;
  font-size: var(--font-size-11xl);
  height: 32px;
  opacity: 0.7;
}
.image-22-icon4 {
  position: absolute;
  top: 67px;
  left: 0;
  border-radius: var(--br-mini);
  width: 630px;
  height: 358px;
  object-fit: cover;
}
.frame-child255 {
  position: absolute;
  top: 221px;
  left: 580px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
}
.frame-child256 {
  position: absolute;
  top: 234px;
  left: 600px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child257 {
  position: absolute;
  top: 271px;
  left: 50px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child258 {
  position: absolute;
  top: 234px;
  left: 18px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child259 {
  position: absolute;
  top: 154px;
  left: 658px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div18,
.hot-40-pro-container4 {
  position: absolute;
  top: 174px;
  left: 710px;
  font-weight: 500;
}
.div18 {
  top: 225px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.frame-child260 {
  position: absolute;
  top: 308px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-200);
  width: 192px;
  height: 52px;
}
.frame-child260,
.frame-child261,
.frame-child262 {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.frame-child261 {
  position: absolute;
  top: 374px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-200);
  width: 192px;
  height: 52px;
}
.frame-child262 {
  top: 306px;
  left: 878px;
  border: 3px solid var(--color-red-100);
  width: 195px;
  height: 56px;
}
.frame-child262,
.frame-child263,
.frame-child264 {
  position: absolute;
  border-radius: var(--br-mini);
}
.frame-child263 {
  top: 308px;
  left: 1100px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 191px;
  height: 52px;
}
.frame-child264 {
  top: 669px;
  left: 660px;
  background-color: var(--color-firebrick-200);
  width: 520px;
  height: 90px;
}
.mua-ngay4 {
  position: absolute;
  top: 683px;
  left: 800px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child265 {
  position: absolute;
  top: 775px;
  left: 660px;
  border-radius: var(--br-mini);
  background-color: var(--color-aqua);
  width: 630px;
  height: 90px;
}
.tr-gp-04 {
  position: absolute;
  top: 789px;
  left: 838px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child266 {
  position: absolute;
  top: 154px;
  left: 878px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div19,
.hot-40i-8gb-container4 {
  position: absolute;
  font-weight: 500;
}
.div19 {
  top: 225px;
  left: 931px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.hot-40i-8gb-container4 {
  top: 174px;
  left: 932px;
}
.frame-child267,
.frame-child268 {
  position: absolute;
  top: 152px;
  left: 1096px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 3px solid var(--color-red-100);
  box-sizing: border-box;
  width: 197px;
  height: 116px;
}
.frame-child268 {
  top: 666px;
  left: 1197px;
  width: 96px;
  height: 96px;
}
.div20,
.p46 {
  white-space: pre-wrap;
}
.div20 {
  position: absolute;
  top: 225px;
  left: 1153px;
  line-height: 121.1%;
  font-weight: 500;
}
.p46 {
  margin: 0;
}
.en-20900004,
.trng-20900004,
.vng-20900004,
.xanh-20900004 {
  position: absolute;
  top: 315px;
  left: 710px;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 84px;
  height: 37px;
}
.en-20900004,
.trng-20900004,
.vng-20900004 {
  top: 381px;
}
.en-20900004,
.trng-20900004 {
  top: 315px;
  left: 931px;
}
.trng-20900004 {
  left: 1151px;
}
.hot-40i-4gb-container4 {
  position: absolute;
  top: 174px;
  left: 1154px;
  font-weight: 500;
}
.frame-child269 {
  position: absolute;
  top: 92px;
  left: 902px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 154px;
  height: 2px;
  opacity: 0.5;
}
.mn-hnh4 {
  margin-bottom: 0;
}
.kch-thc-mn4 {
  text-decoration: underline;
}
.kch-thc-mn-hnh9 {
  color: inherit;
}
.mn-hnh-kch-thc-mn-hnh-64 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.mn-hnh-kch-container4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 630px;
}
.mn-hnh-kch-thc-mn-hnh-6-wrapper2 {
  position: absolute;
  top: 441px;
  left: 0;
  background-color: var(--color-white);
  width: 630px;
  height: 810px;
  text-align: left;
}
.group-child81 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 630px;
  height: 50px;
}
.group-child82 {
  position: absolute;
  top: 20px;
  left: 351px;
  width: 34.7px;
  height: 10px;
}
.xem-thm5 {
  position: absolute;
  top: 13px;
  left: 244px;
  font-weight: 500;
  display: inline-block;
  width: 134.5px;
}
.rectangle-parent30 {
  position: absolute;
  top: 1251px;
  left: 0;
  width: 630px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.frame-child270,
.frame-child271,
.frame-child272,
.frame-child273,
.frame-child274,
.frame-child275 {
  position: absolute;
  top: 441px;
  left: 660px;
  border-radius: var(--br-mini);
  width: 205px;
  height: 110px;
  object-fit: cover;
}
.frame-child271,
.frame-child272,
.frame-child273,
.frame-child274,
.frame-child275 {
  left: 873px;
}
.frame-child272,
.frame-child273,
.frame-child274,
.frame-child275 {
  left: 1085px;
}
.frame-child273,
.frame-child274,
.frame-child275 {
  top: 541px;
  left: 660px;
  height: 111px;
}
.frame-child274,
.frame-child275 {
  left: 872px;
  width: 206px;
}
.frame-child275 {
  left: 1085px;
  width: 205px;
}
.add-shopping-cart4,
.image-23-icon4 {
  position: absolute;
  top: 694px;
  left: 1220px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-23-icon4 {
  top: 879px;
  left: 701px;
  width: 544px;
  height: 420px;
}
.chn-mu-xem-gi-v-chi-nh-parent2 {
  position: absolute;
  top: 70px;
  left: 111px;
  width: 1290px;
  height: 1301px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.chitiethanghoa2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1990px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
