.header-child36 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-firebrick-100);
  width: 1512px;
  height: 50px;
}
.header-child37,
.header-child38 {
  position: absolute;
  top: 6px;
  left: 293px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
  width: 105px;
  height: 40px;
}
.header-child38 {
  left: 409px;
  width: 140px;
}
.location-icon14 {
  position: absolute;
  top: 10px;
  left: 414px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.header-child39 {
  position: absolute;
  top: 6px;
  left: 562px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 333px;
  height: 40px;
}
.vector-icon10 {
  position: absolute;
  height: 34.4%;
  width: 1.16%;
  top: 35.4%;
  right: 60.95%;
  bottom: 30.2%;
  left: 37.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bn-cn-tm7 {
  position: absolute;
  top: 18px;
  left: 603px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  display: inline-block;
  width: 135px;
  height: 14px;
}
.local-phone-icon7 {
  position: absolute;
  top: 8px;
  left: 907px;
  width: 35px;
  height: 34px;
  overflow: hidden;
}
.gi-mua-hng7 {
  margin: 0;
}
.danh-mc7,
.gi-mua-hng-container7,
.nng7,
.xem-gi-ti7 {
  position: absolute;
  top: 9px;
  left: 941px;
  font-weight: 500;
  display: inline-block;
  width: 138px;
  height: 31px;
}
.danh-mc7,
.nng7,
.xem-gi-ti7 {
  top: 18px;
  left: 293px;
  text-align: center;
}
.nng7,
.xem-gi-ti7 {
  top: 27px;
  left: 410px;
  height: 18px;
}
.xem-gi-ti7 {
  top: 11px;
  font-size: var(--font-size-3xs);
  height: 31px;
}
.location-icon15 {
  position: absolute;
  top: 7px;
  left: 1037px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.ca-hng-gn-container7,
.tra-cu-n-container7 {
  position: absolute;
  top: 8px;
  left: 1071px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.tra-cu-n-container7 {
  top: 9px;
  left: 1189px;
}
.in-transit-icon7 {
  position: absolute;
  top: 6px;
  left: 1148px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng8 {
  position: absolute;
  top: 3px;
  left: 34px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.shopping-bag-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng-parent1 {
  position: absolute;
  top: 6px;
  left: 1259px;
  width: 97px;
  height: 39px;
  cursor: pointer;
}
.group-child71 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  width: 59px;
  height: 40px;
}
.customer-icon7 {
  position: absolute;
  top: 1px;
  left: 15px;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.ng-nhp9 {
  position: absolute;
  top: 28px;
  left: 4px;
  font-weight: 900;
  display: inline-block;
  width: 50px;
  height: 12px;
}
.rectangle-parent22 {
  position: absolute;
  top: 5px;
  left: 1340px;
  width: 59px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-6xs);
}
.header-child40,
.menu-icon7 {
  position: absolute;
  top: 15.5px;
  left: 528px;
  width: 11px;
  height: 5px;
}
.menu-icon7 {
  top: 9px;
  left: 297px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.group-child72,
.header7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 50px;
}
.group-child72 {
  top: 6px;
  left: 111px;
  width: 124.2px;
  height: 40px;
  cursor: pointer;
}
.frame-child195,
.header-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
}
.header-parent5 {
  height: 50px;
  color: var(--color-white);
}
.frame-child195 {
  background-color: var(--color-gainsboro-100);
  height: 20px;
}
.in-thoi4,
.infinix-hot-30i,
.infinix1,
.trang-ch2 {
  position: absolute;
  top: 2px;
  left: 129px;
  font-weight: 500;
}
.in-thoi4,
.infinix-hot-30i,
.infinix1 {
  left: 221px;
}
.infinix-hot-30i,
.infinix1 {
  left: 313px;
}
.infinix-hot-30i {
  left: 380px;
}
.frame-child196,
.frame-child197,
.frame-child198,
.vector-icon11 {
  position: absolute;
  top: 5px;
  left: 204px;
  width: 5px;
  height: 10px;
}
.frame-child197,
.frame-child198,
.vector-icon11 {
  left: 296px;
}
.frame-child198,
.vector-icon11 {
  left: 363px;
}
.vector-icon11 {
  height: 49%;
  width: 0.66%;
  top: 20.5%;
  right: 91.73%;
  bottom: 30.5%;
  left: 7.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent23 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1512px;
  height: 20px;
}
.dch-v-v3,
.kt-ni-vi3,
.thng-tin-v3,
.tng-i-h-container3 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  width: 294px;
  height: 35px;
}
.tng-i-h-container3 {
  top: 0;
  left: 0;
  text-align: center;
}
.dch-v-v3,
.kt-ni-vi3,
.thng-tin-v3 {
  top: 2px;
  left: 341px;
}
.dch-v-v3,
.kt-ni-vi3 {
  left: 671px;
  width: 317px;
}
.kt-ni-vi3 {
  left: 1001px;
}
.phng-thc-thanh3 {
  margin: 0;
  font-weight: 500;
}
.blank-line37 {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.b7,
.phng-thc-thanh-container3 {
  position: absolute;
  top: 110px;
  left: 11px;
  display: inline-block;
  width: 294px;
  height: 35px;
  font-size: var(--font-size-6xl);
}
.b7 {
  top: 46px;
  left: 32px;
  font-size: var(--font-size-21xl);
  text-align: center;
  width: 230px;
  height: 53px;
}
.image-3-icon3,
.image-4-icon3,
.image-5-icon3,
.image-6-icon3 {
  position: absolute;
  top: 156px;
  left: 18px;
  border-radius: var(--br-10xs);
  width: 62.9px;
  height: 40px;
  object-fit: cover;
}
.image-4-icon3,
.image-5-icon3,
.image-6-icon3 {
  left: 88px;
  width: 66.3px;
}
.image-5-icon3,
.image-6-icon3 {
  left: 161px;
  width: 62.7px;
}
.image-6-icon3 {
  left: 231px;
  width: 66.3px;
}
.doanh-nghip-u-container3,
.mua-hng-v-container3 {
  position: absolute;
  top: 48px;
  left: 353px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 282px;
  height: 206px;
}
.doanh-nghip-u-container3 {
  left: 685px;
}
.image-10-icon3,
.image-11-icon3,
.image-7-icon3,
.image-8-icon3,
.image-9-icon3 {
  position: absolute;
  top: 48px;
  left: 1003px;
  width: 55px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon3,
.image-11-icon3,
.image-8-icon3,
.image-9-icon3 {
  left: 1063px;
}
.image-10-icon3,
.image-11-icon3,
.image-9-icon3 {
  left: 1123px;
}
.image-10-icon3,
.image-11-icon3 {
  left: 1183px;
}
.image-11-icon3 {
  left: 1243px;
}
.frame-child199 {
  position: absolute;
  top: 112px;
  left: 1003px;
  max-height: 100%;
  width: 296px;
}
.frame-child200 {
  position: absolute;
  top: 146px;
  left: 1003px;
  width: 300px;
  height: 97px;
}
.cng-ty-devicer-container3 {
  position: absolute;
  top: 346px;
  left: calc(50% - 583px);
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-gray-300);
  text-align: center;
  width: 1188px;
  height: 27px;
}
.image-12-icon3 {
  position: absolute;
  top: 373px;
  left: calc(50% - 56px);
  width: 133.3px;
  height: 50px;
  object-fit: cover;
}
.tng-i-h-tr-min-ph-parent1 {
  position: absolute;
  top: 1548px;
  left: 97px;
  width: 1318px;
  height: 423px;
  font-size: var(--font-size-xl);
}
.chn-mu2 {
  position: absolute;
  top: 277px;
  left: 659px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  text-align: left;
}
.b8,
.b9,
.infinix-hot-30i1 {
  position: absolute;
  display: inline-block;
  text-align: left;
}
.infinix-hot-30i1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  width: 513px;
  height: 47px;
}
.b8,
.b9 {
  line-height: 121.1%;
  white-space: pre-wrap;
  width: 237px;
}
.b8 {
  top: 64px;
  left: 660px;
  font-size: var(--font-size-21xl);
  color: var(--color-red-100);
  height: 47px;
}
.b9 {
  top: 74px;
  left: 905px;
  font-size: var(--font-size-11xl);
  height: 32px;
  opacity: 0.7;
}
.image-22-icon2 {
  position: absolute;
  top: 67px;
  left: 0;
  border-radius: var(--br-mini);
  width: 630px;
  height: 358px;
  object-fit: cover;
}
.frame-child201 {
  position: absolute;
  top: 221px;
  left: 580px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
}
.frame-child202 {
  position: absolute;
  top: 234px;
  left: 600px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child203 {
  position: absolute;
  top: 271px;
  left: 50px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child204 {
  position: absolute;
  top: 234px;
  left: 18px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child205 {
  position: absolute;
  top: 154px;
  left: 658px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div12,
.hot-40-pro-container2 {
  position: absolute;
  top: 174px;
  left: 710px;
  font-weight: 500;
}
.div12 {
  top: 225px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.frame-child206 {
  position: absolute;
  top: 308px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-200);
  width: 192px;
  height: 52px;
}
.frame-child206,
.frame-child207,
.frame-child208 {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.frame-child207 {
  position: absolute;
  top: 374px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-200);
  width: 192px;
  height: 52px;
}
.frame-child208 {
  top: 306px;
  left: 878px;
  border: 3px solid var(--color-red-100);
  width: 195px;
  height: 56px;
}
.frame-child208,
.frame-child209,
.frame-child210 {
  position: absolute;
  border-radius: var(--br-mini);
}
.frame-child209 {
  top: 308px;
  left: 1100px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 191px;
  height: 52px;
}
.frame-child210 {
  top: 669px;
  left: 660px;
  background-color: var(--color-firebrick-200);
  width: 520px;
  height: 90px;
}
.mua-ngay2 {
  position: absolute;
  top: 683px;
  left: 800px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child211 {
  position: absolute;
  top: 775px;
  left: 660px;
  border-radius: var(--br-mini);
  background-color: var(--color-aqua);
  width: 630px;
  height: 90px;
}
.tr-gp-02 {
  position: absolute;
  top: 789px;
  left: 838px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child212 {
  position: absolute;
  top: 154px;
  left: 878px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div13,
.hot-40i-8gb-container2 {
  position: absolute;
  font-weight: 500;
}
.div13 {
  top: 225px;
  left: 931px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.hot-40i-8gb-container2 {
  top: 174px;
  left: 932px;
}
.frame-child213,
.frame-child214 {
  position: absolute;
  top: 152px;
  left: 1096px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 3px solid var(--color-red-100);
  box-sizing: border-box;
  width: 197px;
  height: 116px;
}
.frame-child214 {
  top: 666px;
  left: 1197px;
  width: 96px;
  height: 96px;
}
.div14,
.p36 {
  white-space: pre-wrap;
}
.div14 {
  position: absolute;
  top: 225px;
  left: 1153px;
  line-height: 121.1%;
  font-weight: 500;
}
.p36 {
  margin: 0;
}
.en-20900002,
.trng-20900002,
.vng-20900002,
.xanh-20900002 {
  position: absolute;
  top: 315px;
  left: 716px;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 84px;
  height: 37px;
}
.en-20900002,
.trng-20900002,
.vng-20900002 {
  top: 381px;
}
.en-20900002,
.trng-20900002 {
  top: 315px;
  left: 937px;
}
.trng-20900002 {
  left: 1157px;
}
.hot-40i-4gb-container2 {
  position: absolute;
  top: 174px;
  left: 1154px;
  font-weight: 500;
}
.frame-child215 {
  position: absolute;
  top: 92px;
  left: 902px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 154px;
  height: 2px;
  opacity: 0.5;
}
.mn-hnh2 {
  margin-bottom: 0;
}
.kch-thc-mn2 {
  text-decoration: underline;
}
.kch-thc-mn-hnh5 {
  color: inherit;
}
.mn-hnh-kch-thc-mn-hnh-62 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.mn-hnh-kch-container2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 630px;
}
.mn-hnh-kch-thc-mn-hnh-6-frame {
  position: absolute;
  top: 441px;
  left: 0;
  background-color: var(--color-white);
  width: 630px;
  height: 810px;
  text-align: left;
}
.group-child73 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 630px;
  height: 50px;
}
.group-child74 {
  position: absolute;
  top: 20px;
  left: 351px;
  width: 34.7px;
  height: 10px;
}
.xem-thm3 {
  position: absolute;
  top: 13px;
  left: 244px;
  font-weight: 500;
  display: inline-block;
  width: 134.5px;
}
.rectangle-parent24 {
  position: absolute;
  top: 1251px;
  left: 0;
  width: 630px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.frame-child216,
.frame-child217,
.frame-child218,
.frame-child219,
.frame-child220,
.frame-child221 {
  position: absolute;
  top: 441px;
  left: 660px;
  border-radius: var(--br-mini);
  width: 205px;
  height: 110px;
  object-fit: cover;
}
.frame-child217,
.frame-child218,
.frame-child219,
.frame-child220,
.frame-child221 {
  left: 873px;
}
.frame-child218,
.frame-child219,
.frame-child220,
.frame-child221 {
  left: 1085px;
}
.frame-child219,
.frame-child220,
.frame-child221 {
  top: 541px;
  left: 660px;
  height: 111px;
}
.frame-child220,
.frame-child221 {
  left: 872px;
  width: 206px;
}
.frame-child221 {
  left: 1085px;
  width: 205px;
}
.add-shopping-cart2,
.image-23-icon2 {
  position: absolute;
  top: 694px;
  left: 1220px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-23-icon2 {
  top: 879px;
  left: 701px;
  width: 544px;
  height: 420px;
}
.chn-mu-xem-gi-v-chi-nh-container {
  position: absolute;
  top: 70px;
  left: 111px;
  width: 1290px;
  height: 1301px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.chitiethanghoa4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1990px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
