.header-child41 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-firebrick-100);
  width: 1512px;
  height: 50px;
}
.header-child42,
.header-child43 {
  position: absolute;
  top: 6px;
  left: 293px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
  width: 105px;
  height: 40px;
}
.header-child43 {
  left: 409px;
  width: 140px;
}
.location-icon16 {
  position: absolute;
  top: 10px;
  left: 414px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.header-child44 {
  position: absolute;
  top: 6px;
  left: 562px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 333px;
  height: 40px;
}
.vector-icon12 {
  position: absolute;
  height: 34.4%;
  width: 1.16%;
  top: 35.4%;
  right: 60.95%;
  bottom: 30.2%;
  left: 37.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bn-cn-tm8 {
  position: absolute;
  top: 18px;
  left: 603px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  display: inline-block;
  width: 135px;
  height: 14px;
}
.local-phone-icon8 {
  position: absolute;
  top: 8px;
  left: 907px;
  width: 35px;
  height: 34px;
  overflow: hidden;
}
.gi-mua-hng8 {
  margin: 0;
}
.danh-mc8,
.gi-mua-hng-container8,
.nng8,
.xem-gi-ti8 {
  position: absolute;
  top: 9px;
  left: 941px;
  font-weight: 500;
  display: inline-block;
  width: 138px;
  height: 31px;
}
.danh-mc8,
.nng8,
.xem-gi-ti8 {
  top: 18px;
  left: 293px;
  text-align: center;
}
.nng8,
.xem-gi-ti8 {
  top: 27px;
  left: 410px;
  height: 18px;
}
.xem-gi-ti8 {
  top: 11px;
  font-size: var(--font-size-3xs);
  height: 31px;
}
.location-icon17 {
  position: absolute;
  top: 7px;
  left: 1037px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.ca-hng-gn-container8,
.tra-cu-n-container8 {
  position: absolute;
  top: 8px;
  left: 1071px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.tra-cu-n-container8 {
  top: 9px;
  left: 1189px;
}
.in-transit-icon8 {
  position: absolute;
  top: 6px;
  left: 1148px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng9 {
  position: absolute;
  top: 3px;
  left: 34px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.shopping-bag-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng-parent2 {
  position: absolute;
  top: 6px;
  left: 1259px;
  width: 97px;
  height: 39px;
  cursor: pointer;
}
.group-child75 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  width: 59px;
  height: 40px;
}
.customer-icon8 {
  position: absolute;
  top: 1px;
  left: 15px;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.ng-nhp10 {
  position: absolute;
  top: 28px;
  left: 4px;
  font-weight: 900;
  display: inline-block;
  width: 50px;
  height: 12px;
}
.rectangle-parent25 {
  position: absolute;
  top: 5px;
  left: 1340px;
  width: 59px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-6xs);
}
.header-child45,
.menu-icon8 {
  position: absolute;
  top: 15.5px;
  left: 528px;
  width: 11px;
  height: 5px;
}
.menu-icon8 {
  top: 9px;
  left: 297px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.group-child76,
.header8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 50px;
}
.group-child76 {
  top: 6px;
  left: 111px;
  width: 124.2px;
  height: 40px;
  cursor: pointer;
}
.frame-child222,
.header-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
}
.header-parent6 {
  height: 50px;
  color: var(--color-white);
}
.frame-child222 {
  background-color: var(--color-gainsboro-100);
  height: 20px;
}
.in-thoi5,
.oppo-a18-4gb,
.oppo1,
.trang-ch3 {
  position: absolute;
  top: 2px;
  left: 129px;
  font-weight: 500;
}
.in-thoi5,
.oppo-a18-4gb,
.oppo1 {
  left: 221px;
}
.oppo-a18-4gb,
.oppo1 {
  left: 313px;
}
.oppo-a18-4gb {
  left: 380px;
}
.frame-child223,
.frame-child224,
.frame-child225,
.vector-icon13 {
  position: absolute;
  top: 5px;
  left: 204px;
  width: 5px;
  height: 10px;
}
.frame-child224,
.frame-child225,
.vector-icon13 {
  left: 296px;
}
.frame-child225,
.vector-icon13 {
  left: 363px;
}
.vector-icon13 {
  height: 49%;
  width: 0.66%;
  top: 20.5%;
  right: 91.73%;
  bottom: 30.5%;
  left: 7.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent26 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1512px;
  height: 20px;
}
.dch-v-v4,
.kt-ni-vi4,
.thng-tin-v4,
.tng-i-h-container4 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  width: 294px;
  height: 35px;
}
.tng-i-h-container4 {
  top: 0;
  left: 0;
  text-align: center;
}
.dch-v-v4,
.kt-ni-vi4,
.thng-tin-v4 {
  top: 2px;
  left: 341px;
}
.dch-v-v4,
.kt-ni-vi4 {
  left: 671px;
  width: 317px;
}
.kt-ni-vi4 {
  left: 1001px;
}
.phng-thc-thanh4 {
  margin: 0;
  font-weight: 500;
}
.blank-line39 {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.b10,
.phng-thc-thanh-container4 {
  position: absolute;
  top: 110px;
  left: 11px;
  display: inline-block;
  width: 294px;
  height: 35px;
  font-size: var(--font-size-6xl);
}
.b10 {
  top: 46px;
  left: 32px;
  font-size: var(--font-size-21xl);
  text-align: center;
  width: 230px;
  height: 53px;
}
.image-3-icon4,
.image-4-icon4,
.image-5-icon4,
.image-6-icon4 {
  position: absolute;
  top: 156px;
  left: 18px;
  border-radius: var(--br-10xs);
  width: 62.9px;
  height: 40px;
  object-fit: cover;
}
.image-4-icon4,
.image-5-icon4,
.image-6-icon4 {
  left: 88px;
  width: 66.3px;
}
.image-5-icon4,
.image-6-icon4 {
  left: 161px;
  width: 62.7px;
}
.image-6-icon4 {
  left: 231px;
  width: 66.3px;
}
.doanh-nghip-u-container4,
.mua-hng-v-container4 {
  position: absolute;
  top: 48px;
  left: 353px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 282px;
  height: 206px;
}
.doanh-nghip-u-container4 {
  left: 685px;
}
.image-10-icon4,
.image-11-icon4,
.image-7-icon4,
.image-8-icon4,
.image-9-icon4 {
  position: absolute;
  top: 48px;
  left: 1003px;
  width: 55px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon4,
.image-11-icon4,
.image-8-icon4,
.image-9-icon4 {
  left: 1063px;
}
.image-10-icon4,
.image-11-icon4,
.image-9-icon4 {
  left: 1123px;
}
.image-10-icon4,
.image-11-icon4 {
  left: 1183px;
}
.image-11-icon4 {
  left: 1243px;
}
.frame-child226 {
  position: absolute;
  top: 112px;
  left: 1003px;
  max-height: 100%;
  width: 296px;
}
.frame-child227 {
  position: absolute;
  top: 146px;
  left: 1003px;
  width: 300px;
  height: 97px;
}
.cng-ty-devicer-container4 {
  position: absolute;
  top: 346px;
  left: calc(50% - 583px);
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-gray-300);
  text-align: center;
  width: 1188px;
  height: 27px;
}
.image-12-icon4 {
  position: absolute;
  top: 373px;
  left: calc(50% - 56px);
  width: 133.3px;
  height: 50px;
  object-fit: cover;
}
.tng-i-h-tr-min-ph-parent2 {
  position: absolute;
  top: 1548px;
  left: 97px;
  width: 1318px;
  height: 423px;
  font-size: var(--font-size-xl);
}
.chn-mu3 {
  position: absolute;
  top: 277px;
  left: 659px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  text-align: left;
}
.b11,
.b12,
.oppo-a18-4gb1 {
  position: absolute;
  display: inline-block;
  text-align: left;
}
.oppo-a18-4gb1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  width: 513px;
  height: 47px;
}
.b11,
.b12 {
  line-height: 121.1%;
  white-space: pre-wrap;
  width: 237px;
}
.b11 {
  top: 64px;
  left: 660px;
  font-size: var(--font-size-21xl);
  color: var(--color-red-100);
  height: 47px;
}
.b12 {
  top: 74px;
  left: 905px;
  font-size: var(--font-size-11xl);
  height: 32px;
  opacity: 0.7;
}
.image-22-icon3 {
  position: absolute;
  top: 67px;
  left: 0;
  border-radius: var(--br-mini);
  width: 630px;
  height: 358px;
  object-fit: cover;
}
.frame-child228 {
  position: absolute;
  top: 221px;
  left: 580px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
}
.frame-child229 {
  position: absolute;
  top: 234px;
  left: 600px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child230 {
  position: absolute;
  top: 271px;
  left: 50px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child231 {
  position: absolute;
  top: 234px;
  left: 18px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child232 {
  position: absolute;
  top: 154px;
  left: 658px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div15,
.hot-40-pro-container3 {
  position: absolute;
  top: 174px;
  left: 710px;
  font-weight: 500;
}
.div15 {
  top: 225px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.frame-child233 {
  position: absolute;
  top: 308px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-200);
  width: 192px;
  height: 52px;
}
.frame-child233,
.frame-child234,
.frame-child235 {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.frame-child234 {
  position: absolute;
  top: 374px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-200);
  width: 192px;
  height: 52px;
}
.frame-child235 {
  top: 306px;
  left: 878px;
  border: 3px solid var(--color-red-100);
  width: 195px;
  height: 56px;
}
.frame-child235,
.frame-child236,
.frame-child237 {
  position: absolute;
  border-radius: var(--br-mini);
}
.frame-child236 {
  top: 308px;
  left: 1100px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 191px;
  height: 52px;
}
.frame-child237 {
  top: 669px;
  left: 660px;
  background-color: var(--color-firebrick-200);
  width: 520px;
  height: 90px;
}
.mua-ngay3 {
  position: absolute;
  top: 683px;
  left: 800px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child238 {
  position: absolute;
  top: 775px;
  left: 660px;
  border-radius: var(--br-mini);
  background-color: var(--color-aqua);
  width: 630px;
  height: 90px;
}
.tr-gp-03 {
  position: absolute;
  top: 789px;
  left: 838px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child239 {
  position: absolute;
  top: 154px;
  left: 878px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div16,
.hot-40i-8gb-container3 {
  position: absolute;
  font-weight: 500;
}
.div16 {
  top: 225px;
  left: 931px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.hot-40i-8gb-container3 {
  top: 174px;
  left: 932px;
}
.frame-child240,
.frame-child241 {
  position: absolute;
  top: 152px;
  left: 1096px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 3px solid var(--color-red-100);
  box-sizing: border-box;
  width: 197px;
  height: 116px;
}
.frame-child241 {
  top: 666px;
  left: 1197px;
  width: 96px;
  height: 96px;
}
.div17,
.p41 {
  white-space: pre-wrap;
}
.div17 {
  position: absolute;
  top: 225px;
  left: 1153px;
  line-height: 121.1%;
  font-weight: 500;
}
.p41 {
  margin: 0;
}
.en-20900003,
.vng-20900003,
.xanh-20900003 {
  position: absolute;
  top: 315px;
  left: 713px;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 84px;
  height: 37px;
}
.en-20900003,
.vng-20900003 {
  top: 381px;
}
.en-20900003 {
  top: 315px;
  left: 934px;
}
.hot-40i-4gb-container3,
.trng-20900003 {
  position: absolute;
  left: 1154px;
  font-weight: 500;
}
.trng-20900003 {
  top: 315px;
  line-height: 121.1%;
  display: inline-block;
  width: 84px;
  height: 37px;
}
.hot-40i-4gb-container3 {
  top: 174px;
}
.frame-child242 {
  position: absolute;
  top: 92px;
  left: 902px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 154px;
  height: 2px;
  opacity: 0.5;
}
.mn-hnh3 {
  margin-bottom: 0;
}
.kch-thc-mn3 {
  text-decoration: underline;
}
.kch-thc-mn-hnh7 {
  color: inherit;
}
.mn-hnh-kch-thc-mn-hnh-63 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.mn-hnh-kch-container3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 630px;
}
.mn-hnh-kch-thc-mn-hnh-6-wrapper1 {
  position: absolute;
  top: 441px;
  left: 0;
  background-color: var(--color-white);
  width: 630px;
  height: 810px;
  text-align: left;
}
.group-child77 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 630px;
  height: 50px;
}
.group-child78 {
  position: absolute;
  top: 20px;
  left: 351px;
  width: 34.7px;
  height: 10px;
}
.xem-thm4 {
  position: absolute;
  top: 13px;
  left: 244px;
  font-weight: 500;
  display: inline-block;
  width: 134.5px;
}
.rectangle-parent27 {
  position: absolute;
  top: 1251px;
  left: 0;
  width: 630px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.frame-child243,
.frame-child244,
.frame-child245,
.frame-child246,
.frame-child247,
.frame-child248 {
  position: absolute;
  top: 441px;
  left: 660px;
  border-radius: var(--br-mini);
  width: 205px;
  height: 110px;
  object-fit: cover;
}
.frame-child244,
.frame-child245,
.frame-child246,
.frame-child247,
.frame-child248 {
  left: 873px;
}
.frame-child245,
.frame-child246,
.frame-child247,
.frame-child248 {
  left: 1085px;
}
.frame-child246,
.frame-child247,
.frame-child248 {
  top: 541px;
  left: 660px;
  height: 111px;
}
.frame-child247,
.frame-child248 {
  left: 872px;
  width: 206px;
}
.frame-child248 {
  left: 1085px;
  width: 205px;
}
.add-shopping-cart3,
.image-23-icon3 {
  position: absolute;
  top: 694px;
  left: 1220px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-23-icon3 {
  top: 879px;
  left: 701px;
  width: 544px;
  height: 420px;
}
.chn-mu-xem-gi-v-chi-nh-parent1 {
  position: absolute;
  top: 70px;
  left: 111px;
  width: 1290px;
  height: 1301px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.chitiethanghoa3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1990px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
