.header-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-firebrick-100);
  width: 1512px;
  height: 50px;
}
.header-child8,
.header-child9 {
  position: absolute;
  top: 6px;
  left: 293px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
  width: 105px;
  height: 40px;
}
.header-child9 {
  left: 409px;
  width: 140px;
}
.location-icon4 {
  position: absolute;
  top: 10px;
  left: 414px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.header-child10 {
  position: absolute;
  top: 6px;
  left: 562px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 333px;
  height: 40px;
}
.vector-icon4 {
  position: absolute;
  height: 34.4%;
  width: 1.16%;
  top: 35.4%;
  right: 60.95%;
  bottom: 30.2%;
  left: 37.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bn-cn-tm2 {
  position: absolute;
  top: 18px;
  left: 603px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  display: inline-block;
  width: 135px;
  height: 14px;
}
.local-phone-icon2 {
  position: absolute;
  top: 8px;
  left: 907px;
  width: 35px;
  height: 34px;
  overflow: hidden;
}
.gi-mua-hng2 {
  margin: 0;
}
.danh-mc2,
.gi-mua-hng-container2,
.nng2,
.xem-gi-ti2 {
  position: absolute;
  top: 9px;
  left: 941px;
  font-weight: 500;
  display: inline-block;
  width: 138px;
  height: 31px;
}
.danh-mc2,
.nng2,
.xem-gi-ti2 {
  top: 18px;
  left: 293px;
  text-align: center;
}
.nng2,
.xem-gi-ti2 {
  top: 27px;
  left: 410px;
  height: 18px;
}
.xem-gi-ti2 {
  top: 11px;
  font-size: var(--font-size-3xs);
  height: 31px;
}
.location-icon5 {
  position: absolute;
  top: 7px;
  left: 1037px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.ca-hng-gn-container2,
.tra-cu-n-container2 {
  position: absolute;
  top: 8px;
  left: 1071px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.tra-cu-n-container2 {
  top: 9px;
  left: 1189px;
}
.in-transit-icon2 {
  position: absolute;
  top: 6px;
  left: 1148px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng2 {
  position: absolute;
  top: 3px;
  left: 34px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 36px;
}
.shopping-bag-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.gi-hng-container,
.group-child6 {
  position: absolute;
  top: 6px;
  left: 1259px;
  width: 97px;
  height: 39px;
}
.group-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  width: 59px;
  height: 40px;
}
.customer-icon2 {
  position: absolute;
  top: 1px;
  left: 15px;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.ng-nhp2 {
  position: absolute;
  top: 28px;
  left: 4px;
  font-weight: 900;
  display: inline-block;
  width: 50px;
  height: 12px;
}
.rectangle-parent2 {
  position: absolute;
  top: 5px;
  left: 1340px;
  width: 59px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-6xs);
}
.header-child11,
.menu-icon2 {
  position: absolute;
  top: 15.5px;
  left: 528px;
  width: 11px;
  height: 5px;
}
.menu-icon2 {
  top: 9px;
  left: 297px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.group-child7,
.header2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 50px;
}
.group-child7 {
  top: 6px;
  left: 111px;
  width: 124.2px;
  height: 40px;
}
.frame-child48,
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
}
.header-container {
  height: 50px;
  color: var(--color-white);
}
.frame-child48 {
  background-color: var(--color-gainsboro-100);
  height: 20px;
}
.in-thoi2,
.tecno,
.tecno-pova-5,
.trang-ch2 {
  position: absolute;
  top: 2px;
  left: 129px;
  font-weight: 500;
}
.in-thoi2,
.tecno,
.tecno-pova-5 {
  left: 221px;
}
.tecno,
.tecno-pova-5 {
  left: 309px;
}
.tecno-pova-5 {
  left: 380px;
}
.frame-child49,
.frame-child50,
.frame-child51,
.vector-icon5 {
  position: absolute;
  top: 5px;
  left: 204px;
  width: 5px;
  height: 10px;
}
.frame-child50,
.frame-child51,
.vector-icon5 {
  left: 296px;
}
.frame-child51,
.vector-icon5 {
  left: 363px;
}
.vector-icon5 {
  height: 49%;
  width: 0.66%;
  top: 20.5%;
  right: 91.73%;
  bottom: 30.5%;
  left: 7.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent3 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1512px;
  height: 20px;
}
.dch-v-v2,
.kt-ni-vi2,
.thng-tin-v2,
.tng-i-h-container2 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  width: 294px;
  height: 35px;
}
.tng-i-h-container2 {
  top: 0;
  left: 0;
  text-align: center;
}
.dch-v-v2,
.kt-ni-vi2,
.thng-tin-v2 {
  top: 2px;
  left: 341px;
}
.dch-v-v2,
.kt-ni-vi2 {
  left: 671px;
  width: 317px;
}
.kt-ni-vi2 {
  left: 1001px;
}
.phng-thc-thanh2 {
  margin: 0;
  font-weight: 500;
}
.blank-line5 {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.b6,
.phng-thc-thanh-container2 {
  position: absolute;
  top: 110px;
  left: 11px;
  display: inline-block;
  width: 294px;
  height: 35px;
  font-size: var(--font-size-6xl);
}
.b6 {
  top: 46px;
  left: 32px;
  font-size: var(--font-size-21xl);
  text-align: center;
  width: 230px;
  height: 53px;
}
.image-3-icon2,
.image-4-icon2,
.image-5-icon2,
.image-6-icon2 {
  position: absolute;
  top: 156px;
  left: 18px;
  border-radius: var(--br-10xs);
  width: 62.9px;
  height: 40px;
  object-fit: cover;
}
.image-4-icon2,
.image-5-icon2,
.image-6-icon2 {
  left: 88px;
  width: 66.3px;
}
.image-5-icon2,
.image-6-icon2 {
  left: 161px;
  width: 62.7px;
}
.image-6-icon2 {
  left: 231px;
  width: 66.3px;
}
.doanh-nghip-u-container2,
.mua-hng-v-container2 {
  position: absolute;
  top: 48px;
  left: 353px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 282px;
  height: 206px;
}
.doanh-nghip-u-container2 {
  left: 685px;
}
.image-10-icon2,
.image-11-icon2,
.image-7-icon2,
.image-8-icon2,
.image-9-icon2 {
  position: absolute;
  top: 48px;
  left: 1003px;
  width: 55px;
  height: 40px;
  object-fit: cover;
}
.image-10-icon2,
.image-11-icon2,
.image-8-icon2,
.image-9-icon2 {
  left: 1063px;
}
.image-10-icon2,
.image-11-icon2,
.image-9-icon2 {
  left: 1123px;
}
.image-10-icon2,
.image-11-icon2 {
  left: 1183px;
}
.image-11-icon2 {
  left: 1243px;
}
.frame-child52 {
  position: absolute;
  top: 112px;
  left: 1003px;
  max-height: 100%;
  width: 296px;
}
.frame-child53 {
  position: absolute;
  top: 146px;
  left: 1003px;
  width: 300px;
  height: 97px;
}
.cng-ty-devicer-container2 {
  position: absolute;
  top: 346px;
  left: calc(50% - 583px);
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-gray-200);
  text-align: center;
  width: 1188px;
  height: 27px;
}
.image-12-icon2 {
  position: absolute;
  top: 373px;
  left: calc(50% - 56px);
  width: 133.3px;
  height: 50px;
  object-fit: cover;
}
.tng-i-h-tr-min-ph-container {
  position: absolute;
  top: 1548px;
  left: 97px;
  width: 1318px;
  height: 423px;
  font-size: var(--font-size-xl);
}
.b7,
.b8,
.chn-mu2,
.tecno-pova-51 {
  position: absolute;
  text-align: left;
}
.chn-mu2 {
  top: 277px;
  left: 659px;
  font-size: var(--font-size-smi);
  font-weight: 500;
}
.b7,
.b8,
.tecno-pova-51 {
  display: inline-block;
}
.tecno-pova-51 {
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  width: 567px;
  height: 47px;
}
.b7,
.b8 {
  line-height: 121.1%;
  white-space: pre-wrap;
  width: 237px;
}
.b7 {
  top: 64px;
  left: 660px;
  font-size: var(--font-size-21xl);
  color: var(--color-red-100);
  height: 47px;
}
.b8 {
  top: 74px;
  left: 905px;
  font-size: var(--font-size-11xl);
  height: 32px;
  opacity: 0.7;
}
.image-22-icon2 {
  position: absolute;
  top: 67px;
  left: 0;
  border-radius: var(--br-mini);
  width: 630px;
  height: 358px;
  object-fit: cover;
}
.frame-child54 {
  position: absolute;
  top: 221px;
  left: 580px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
}
.frame-child55 {
  position: absolute;
  top: 234px;
  left: 600px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child56 {
  position: absolute;
  top: 271px;
  left: 50px;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child57 {
  position: absolute;
  top: 234px;
  left: 18px;
  width: 10px;
  height: 24px;
  object-fit: contain;
}
.frame-child58 {
  position: absolute;
  top: 154px;
  left: 658px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div6,
.hot-40-pro-container2 {
  position: absolute;
  top: 174px;
  left: 710px;
  font-weight: 500;
}
.div6 {
  top: 225px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.frame-child59 {
  position: absolute;
  top: 308px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-100);
  width: 192px;
  height: 52px;
}
.frame-child59,
.frame-child60,
.frame-child61 {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.frame-child60 {
  position: absolute;
  top: 374px;
  left: 659px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-100);
  width: 192px;
  height: 52px;
}
.frame-child61 {
  top: 306px;
  left: 878px;
  border: 3px solid var(--color-red-100);
  width: 195px;
  height: 56px;
}
.frame-child61,
.frame-child62,
.frame-child63 {
  position: absolute;
  border-radius: var(--br-mini);
}
.frame-child62 {
  top: 308px;
  left: 1100px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 191px;
  height: 52px;
}
.frame-child63 {
  top: 669px;
  left: 660px;
  background-color: var(--color-firebrick-200);
  width: 520px;
  height: 90px;
}
.mua-ngay2 {
  position: absolute;
  top: 683px;
  left: 800px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child64 {
  position: absolute;
  top: 775px;
  left: 660px;
  border-radius: var(--br-mini);
  background-color: var(--color-aqua);
  width: 630px;
  height: 90px;
}
.tr-gp-02 {
  position: absolute;
  top: 789px;
  left: 838px;
  font-size: var(--font-size-31xl);
  line-height: 121.1%;
  color: var(--color-white);
}
.frame-child65 {
  position: absolute;
  top: 154px;
  left: 878px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 192px;
  height: 112px;
}
.div7,
.hot-40i-8gb-container2 {
  position: absolute;
  font-weight: 500;
}
.div7 {
  top: 225px;
  left: 931px;
  line-height: 121.1%;
  white-space: pre-wrap;
}
.hot-40i-8gb-container2 {
  top: 174px;
  left: 932px;
}
.frame-child66,
.frame-child67 {
  position: absolute;
  top: 152px;
  left: 1096px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 3px solid var(--color-red-100);
  box-sizing: border-box;
  width: 197px;
  height: 116px;
}
.frame-child67 {
  top: 666px;
  left: 1197px;
  width: 96px;
  height: 96px;
}
.div8,
.p11 {
  white-space: pre-wrap;
}
.div8 {
  position: absolute;
  top: 225px;
  left: 1153px;
  line-height: 121.1%;
  font-weight: 500;
}
.p11 {
  margin: 0;
}
.en-20900002,
.trng-20900002,
.vng-20900002,
.xanh-20900002 {
  position: absolute;
  top: 315px;
  left: 716px;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 84px;
  height: 37px;
}
.en-20900002,
.trng-20900002,
.vng-20900002 {
  top: 381px;
}
.en-20900002,
.trng-20900002 {
  top: 315px;
  left: 937px;
}
.trng-20900002 {
  left: 1157px;
}
.hot-40i-4gb-container2 {
  position: absolute;
  top: 174px;
  left: 1154px;
  font-weight: 500;
}
.frame-child68 {
  position: absolute;
  top: 92px;
  left: 902px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 154px;
  height: 2px;
  opacity: 0.5;
}
.mn-hnh2 {
  margin-bottom: 0;
}
.kch-thc-mn2 {
  text-decoration: underline;
}
.kch-thc-mn-hnh5 {
  color: inherit;
}
.mn-hnh-kch-thc-mn-hnh-62 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.mn-hnh-kch-container2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 121.1%;
  font-weight: 500;
  display: inline-block;
  width: 630px;
}
.mn-hnh-kch-thc-mn-hnh-6-frame {
  position: absolute;
  top: 441px;
  left: 0;
  background-color: var(--color-white);
  width: 630px;
  height: 810px;
  text-align: left;
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 630px;
  height: 50px;
}
.group-child9 {
  position: absolute;
  top: 20px;
  left: 351px;
  width: 34.7px;
  height: 10px;
}
.xem-thm2 {
  position: absolute;
  top: 13px;
  left: 244px;
  font-weight: 500;
  display: inline-block;
  width: 134.5px;
}
.rectangle-parent4 {
  position: absolute;
  top: 1251px;
  left: 0;
  width: 630px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.frame-child69,
.frame-child70,
.frame-child71,
.frame-child72,
.frame-child73,
.frame-child74 {
  position: absolute;
  top: 441px;
  left: 660px;
  border-radius: var(--br-mini);
  width: 205px;
  height: 110px;
  object-fit: cover;
}
.frame-child70,
.frame-child71,
.frame-child72,
.frame-child73,
.frame-child74 {
  left: 873px;
}
.frame-child71,
.frame-child72,
.frame-child73,
.frame-child74 {
  left: 1085px;
}
.frame-child72,
.frame-child73,
.frame-child74 {
  top: 541px;
  left: 660px;
  height: 111px;
}
.frame-child73,
.frame-child74 {
  left: 872px;
  width: 206px;
}
.frame-child74 {
  left: 1085px;
  width: 205px;
}
.add-shopping-cart2,
.image-23-icon2 {
  position: absolute;
  top: 694px;
  left: 1220px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-23-icon2 {
  top: 879px;
  left: 701px;
  width: 544px;
  height: 420px;
}
.chn-mu-xem-gi-v-chi-nh-container {
  position: absolute;
  top: 70px;
  left: 111px;
  width: 1290px;
  height: 1301px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.tecno-pova-5-8gb-128gb {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1990px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
